	

{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% endblock %}


{% block title %}
Game Recommendations
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
      <h2 class="pt-5 pb-2">Video Game Recommendations</h2>
      <p>
        {{ wtf.quick_form(form) }}
      </p>
     
      {% if similar_games %}
        <h4 class="pt-3 pb-2">Games similar to {{ game }}</h4>
        <table>
          <caption class="visually-hidden">Similar Games</caption>
          <tr>
            <th>Game</th>
            <th>Similarity</th>
            <th>Description</th>
          </tr>
          {% for game in similar_games %}
            <tr>
              <td>
                <form action="{{ url_for('.index') }}" method="POST">
                  <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"> 
                  <input type="hidden" name="name" value="{{ game['title'] }}">
                  <button type="submit" class="btn btn-link">{{ game['title'] }}</button>
                </form>
              </td>
              <td>
                  {{ game['score'] }}
              </td>
                <td>
                  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#description_{{ loop.index }}">Expand</button>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                <div id="description_{{ loop.index }}" class="collapse description_box">
                  {{ game['description'] }}
                </div>
              </td>
              </tr>

          {% endfor %}
        </table>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}