	

{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Game Recommendations
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h2 class="pt-5 pb-2">Game Recommendations</h2>

      {{ wtf.quick_form(form) }}

      <p class="pt-5"><strong>{{ message }}</strong></p>
      {% if similar_games %}
      <p><b>Based on user data:</b></p>
      <p>{% for game in similar_games %}
            {% for title, score in game.items()}

              <a href="{{ url_for('.index', name=title) }}">{{ title }}</a> ({{ score }})<br>
            {% endfor %}   
      {% endfor %}</p>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}
