body { 
    background: #e8f1f9; 
}

.game_box {
    padding: 10px;
    margin: 10px;
}

.description_box {
    border-radius: 15px;
    border: 2px solid #ffffff;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}